body{
	margin:0;
	padding:0;
}
.main{
	position:relative;
	width:100%;
	background-color:#0BA9F9;
}

img{
	height: 150px;
}
.main .container{
	display:flex;
}
.main .container ul{
	list-style-type: none;
	margin:0;
	padding:0;
	display: flex;
    align-items: center;

}
.main .container ul li a{
	display:block;
	font-size: 16px;
	padding:8px 16px;
	text-decoration: none;
	color: #ffffff;
}
.banner img{
    width:100%;
    background-size: contain;
    height:200px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.main .container ul li :hover{
	background-color: #000000;
}
.service{
	display: flex;
	justify-content: center;
	font-size:60px;
	
	 
}
.service .web{
	border:1px solid black;
	color: #fff;
	background-color: #444444;
	border-radius: 50%;
	width:200px;
	height: 200px;
	margin-left: 20px;
}
.service .web i{
	margin-top: 70px;
	margin-left: 70px;
	padding: 5px;
}
.service .web:hover{
	background-color: #0BA9F9;
}
/*.service-op .text{
	padding-top: 50px;
text-align: center;
}*/
.form{
	background-color: #ccc;
	width:550px;
	height:600px;
	margin-left:650px; 
	margin-top:25px;
	margin-bottom:30px;
	border-radius: 10px;
	max-width:600px;
}
.form form label{
	font-size:20px;
	font-weight:bold;
	font-family: verdana;
}
.form form{
	padding: 50px 120px;
}

input[type=submit]
{
	width:90%;
	height:40px;
	background-color: blue;
	border-radius: 5px;
	border-style:none;
}
input[type=reset]
{
	width:90%;
	height:40px;
	background-color: red;
	border-radius: 5px;
	border-style:none;
}
.footer{
	width:100%;
	background-color: #002233;
	color:#fff;
	font-size:12px;

}